@import "tailwindcss";

:root {
  --background: #18181b;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
